/* ========================= */
/* 🔥 FONDO GLOBAL */
/* ========================= */
body {
  background: url('../imgs/wall9.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Lexend';

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ========================= */
/* 📦 CONTENEDOR */
/* ========================= */
.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  width: 320px;

  box-shadow: 
    0 5px 10px rgba(0,0,0,0.2),
    0 0 0 2px #f272a1  inset;
}

/* título */
h2 {
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Lexend';
  color: #717171;
}

/* ========================= */
/* ✏️ INPUTS */
/* ========================= */
input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;

  border-radius: 10px;
  border: 2px solid #ffdddd;

  font-family: 'caviar_dreams';
  font-size: 14px;
  
}

/* efecto focus */
input,
textarea {
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #f272a1;
  box-shadow: 0 0 10px rgba(242,114,161,0.6);
  transform: scale(1.02);
}

/* ========================= */
/* 🔘 BOTONES */
/* ========================= */
button {
  position: relative;
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 10px;

  background: #f272a1;
  color: white;

  cursor: pointer;
  font-family: 'kg_perfect_penmanship';
  font-size: 15px;

  overflow: hidden;
    transform: translateY(-4px);
  /*box-shadow: 0 0 15px #f272a1;*/

  transition: transform 0.4s ease, box-shadow 0.4s ease;

}

/* línea animada */
button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0%;
  height: 3px;

  /*background: #bf8df2;*/

transition: width 0.7s ease;
}

/* hover */
button:hover::after {
  width: 100%;
}

/* pequeño efecto al texto */
button:hover {
  color: #ffffff;
  transform: translateY(-2px);
    box-shadow: 0 0 10px #f272a1;

}

/* click */
button:active {
  transform: scale(0.95);
}

/* ========================= */
/* 🔗 LINKS */
/* ========================= */
a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #f272a1;
  font-family: 'caviar_dreams'; ;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

/* ========================= */
/* ❌ ERROR */
/* ========================= */
.error {
  background: #ffdddd;
  color: #a10000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 13px;
}

/* ========================= */
/* 🔤 FUENTES */
/* ========================= */
@font-face {
  font-family: 'Lexend';
  src: url('../fonts/Lexend/static/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mv_boli';
  src: url('../fonts/MV_Boli/mvboli.ttf') format('truetype');
}


@font-face {
  font-family: 'lemon_milk';
  src: url('../fonts/lemon_milk/LEMONMILK-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'kg_red_hands';
  src: url('../fonts/kg_red_hands/KGRedHands.ttf') format('truetype');
}
@font-face {
  font-family: 'caviar_dreams';
  src: url('../fonts/caviar_dreams/CaviarDreams_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'simply_olive';
  src: url('../fonts/simply_olive/Simply_Olive_DEMO.ttf') format('truetype');
}
@font-face {
  font-family: 'kg_perfect_penmanship';
  src: url('../fonts/kg_perfect_penmanship/KGPerfectPenmanship.ttf') format('truetype');
}
